#watchstyle {
  background-color: #030D1D;
  padding: 80px 0;
}
#watchstyle .container .row .col-lg-6 .WatchInfo h4 {
  color: #ffffff;
  text-align: left;
  cursor: -webkit-grab;
  cursor: grab;
  font-family: "Playfair Display", serif;
  font-size: 35px;
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
}
#watchstyle .container .row .col-lg-6 .WatchInfo h4::before {
  content: "";
  width: 110%;
  height: 5px;
  background: #CCA471;
  position: absolute;
  bottom: 2px;
  right: 0;
  left: 0;
  z-index: 11;
}
#watchstyle .container .row .col-lg-6 .WatchInfo h6 {
  color: #AAAAAA;
  font-size: 25PX;
  margin-bottom: 50px;
  font-family: "Source Sans Pro", sans-serif;
}
#watchstyle .container .row .col-lg-6 .WatchInfo p {
  color: #AAAAAA;
  font-size: 20PX;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 40px;
}
#watchstyle .container .row .col-lg-6 .WatchInfo ul li {
  list-style: square;
  color: #AAAAAA;
  font-size: 20PX;
  line-height: 60px;
  font-family: "Source Sans Pro", sans-serif;
}
#watchstyle .container .row .col-lg-6 .WatchImg img {
  width: 100%;
}