* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#Header {
  background-color: #0e1d55;
  padding: 20px;
}
#Header .container-fluid .row {
  align-items: center;
}
#Header .container-fluid .row nav {
  display: flex;
  justify-content: space-between;
}
#Header .container-fluid .row nav a {
  text-decoration: none;
  color: #AAAAAA;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}
#Header .container-fluid .row .site-header {
  display: flex;
  justify-content: end;
  gap: 20px;
}
#Header .container-fluid .row .site-header a {
  text-decoration: none;
  color: #AAAAAA;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

#BreadCrump {
  background: url(/assets/Images/slider__3_2000x_1.webp) center top no-repeat fixed;
  background-size: cover;
  padding: 100px;
  position: relative;
  z-index: 111;
}
#BreadCrump::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: #ffffff;
  opacity: 0.8;
}
#BreadCrump .container .BreadCrump-all {
  text-align: center;
}
#BreadCrump .container .BreadCrump-all h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #030d1d;
  font-family: "Playfair Display", serif;
  margin-bottom: 40px;
}
#BreadCrump .container .BreadCrump-all a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #000;
}
#BreadCrump .container .BreadCrump-all span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #000;
}

#Location {
  background-color: #030d1d;
  padding: 80px 0;
}
#Location .container .LocationAll iframe {
  width: 100%;
}

#ContactInfo {
  background-color: #030d1d;
  padding: 80px 0;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo {
  border: 1px solid #212a38;
  padding: 50px 30px;
  text-align: center;
  transition: 0.3s;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo:hover {
  border-color: #CCA471;
  cursor: pointer;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo:hover h4 {
  color: #CCA471;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo .icon {
  margin-bottom: 30px;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo .icon i {
  background: #0e1d55;
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo h4 {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  color: #fff;
  margin-bottom: 30px;
  transition: 0.3s;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo .MainInfo p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 23px;
  color: #AAAAAA;
  line-height: 40px;
  transition: 0.3s;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo .MainInfo p:hover {
  color: #CCA471;
}

#ContactForm {
  background-color: #030d1d;
  padding: 80px 0;
}
#ContactForm .container .ContactFormAll h4 {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #CCA471;
  margin-bottom: 40px;
}
#ContactForm .container .ContactFormAll form .inputs {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}
#ContactForm .container .ContactFormAll form .inputs input {
  border: 1px solid #212a38;
  outline: none;
  background-color: transparent;
  padding: 20px 30px;
  width: 100%;
  font-size: 20px;
  color: #AAAAAA;
}
#ContactForm .container .ContactFormAll form .inputs input:focus {
  border-color: #CCA471;
}
#ContactForm .container .ContactFormAll form textarea {
  border: 1px solid #212a38;
  outline: none;
  background-color: transparent;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  color: #AAAAAA;
}
#ContactForm .container .ContactFormAll form textarea:focus {
  border-color: #CCA471;
}
#ContactForm .container .ContactFormAll form .submit {
  text-align: center;
  margin-top: 30px;
}
#ContactForm .container .ContactFormAll form .submit button {
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  background-color: #343435;
  padding: 20px;
  outline: none;
  border: none;
  position: relative;
  width: 30%;
  z-index: 2;
}
#ContactForm .container .ContactFormAll form .submit button:hover::before {
  height: 100%;
}
#ContactForm .container .ContactFormAll form .submit button::before {
  content: "";
  width: 100%;
  height: 4px;
  background: #CCA471;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.5s;
  z-index: -10;
}

#Footer {
  background-image: url(/assets/Images/footer-img_052c2e02-57e9-473b-a7a4-2668c5104fbd.jpg);
  background-position: center;
  background-size: cover;
  padding: 100px;
  position: relative;
  z-index: 1;
}
#Footer::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
}
#Footer .container .row .singleFooterArea {
  text-align: left;
}
#Footer .container .row .singleFooterArea h5 {
  font-size: 28px;
  font-family: "Playfair Display", serif;
  color: #fff;
  margin-bottom: 30px;
}
#Footer .container .row .singleFooterArea ul {
  padding: 0;
}
#Footer .container .row .singleFooterArea ul li {
  line-height: 45px;
  list-style: none;
  text-decoration: none;
  font-size: 23px;
  color: #AAAAAA;
  font-family: "Source Sans Pro", sans-serif;
}
#Footer .container .row .singleFooterArea ul li i {
  margin-right: 10px;
}
#Footer .container .row .singleFooterArea ul li a {
  text-decoration: none;
  font-size: 23px;
  color: #AAAAAA;
  font-family: "Source Sans Pro", sans-serif;
}/*# sourceMappingURL=contact.css.map */