* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#Header {
  background-color: #0e1d55;
  padding: 20px;
}
#Header .container-fluid .row {
  align-items: center;
}
#Header .container-fluid .row nav {
  display: flex;
  justify-content: space-between;
}
#Header .container-fluid .row nav a {
  text-decoration: none;
  color: #AAAAAA;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}
#Header .container-fluid .row .site-header {
  display: flex;
  justify-content: end;
  gap: 20px;
}
#Header .container-fluid .row .site-header a {
  text-decoration: none;
  color: #AAAAAA;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

#BreadCrump {
  background: url(/assets/Images/slider__3_2000x_1.webp) center top no-repeat fixed;
  background-size: cover;
  padding: 100px;
  position: relative;
  z-index: 111;
}
#BreadCrump::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: #ffffff;
  opacity: 0.8;
}
#BreadCrump .container .BreadCrump-all {
  text-align: center;
}
#BreadCrump .container .BreadCrump-all h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #030d1d;
  font-family: "Playfair Display", serif;
  margin-bottom: 40px;
}
#BreadCrump .container .BreadCrump-all a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #000;
}
#BreadCrump .container .BreadCrump-all span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #000;
}

#AllShop {
  background-color: #000;
}
#AllShop .container-fluid .row {
  margin: 0 3.5%;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop {
  padding: 40px 0;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers h5 {
  color: #ffffff;
  text-align: left;
  cursor: -webkit-grab;
  cursor: grab;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  position: relative;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers h5::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #CCA471;
  position: absolute;
  bottom: 0px;
  right: 0;
  bottom: -10px;
  z-index: 11;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single {
  margin-top: 30px;
  width: 100%;
  width: 90%;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single:hover .pro-content h4 a {
  color: #CCA471;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-img {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-img:hover .Smallside {
  opacity: 1;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-img:hover .overlay {
  height: 100% !important;
  background-color: #505155;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-img .Smallside {
  display: flex;
  flex-direction: column !important;
  position: absolute;
  gap: 10px;
  right: 10px;
  top: 20%;
  opacity: 0;
  transition: 0.5s;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-img .Smallside a i {
  color: white;
  font-size: 20px;
  background-color: #343535;
  padding: 15PX;
  transition: 0.5s;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-img .Smallside a i:hover {
  background-color: #CCA471;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-img .sale span {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background-color: #343435;
  padding: 5px 10px;
  position: absolute;
  left: 10px;
  top: 10px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-img .save span {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background-color: #343435;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-img a .overlay {
  position: absolute;
  background-color: #34353a;
  z-index: -1;
  height: 68%;
  width: 100%;
  transition: 0.5s;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-img a img {
  width: 100%;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-content {
  text-align: center;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-content h4 a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 25px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-content .pricee {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-content .pricee .prc {
  color: #AAAAAA;
  font-size: 28px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-content .pricee .oldprc {
  color: #AAAAAA;
  text-decoration: line-through;
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-content button {
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  background-color: #343435;
  padding: 20px 50px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-content button:hover::before {
  height: 100%;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .BestSellers .BestSellerSlider .product-single .pro-content button::before {
  content: "";
  width: 100%;
  height: 4px;
  background: #CCA471;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
  transition: 0.5s;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .availability {
  margin-top: 60px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .availability h5 {
  color: #ffffff;
  text-align: left;
  cursor: -webkit-grab;
  cursor: grab;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-bottom: 40px;
  position: relative;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .availability h5::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #CCA471;
  position: absolute;
  bottom: 0px;
  right: 0;
  bottom: -10px;
  z-index: 11;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .availability .stock {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .availability .stock .inputStok {
  position: relative;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .availability .stock .inputStok input {
  position: absolute;
  z-index: 2;
  left: -20px;
  top: 10px;
  height: 70%;
  width: 70%;
  opacity: 0;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .availability .stock .inputStok input:checked + label:after {
  opacity: 1;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .availability .stock .inputStok label {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #AAAAAA;
  display: inline-block;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .availability .stock .inputStok label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #CCA471;
  padding: 13px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 0px;
  border-radius: 50%;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .availability .stock .inputStok label:after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 6px;
  left: 11px;
  width: 8px;
  height: 18px;
  border: solid #cca471;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  box-shadow: 1px 1px 0px #030d1d;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .availability .stock span {
  position: absolute;
  right: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #AAAAAA;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Price {
  margin-top: 60px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Price h5 {
  color: #ffffff;
  text-align: left;
  cursor: -webkit-grab;
  cursor: grab;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-bottom: 40px;
  position: relative;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Price h5::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #CCA471;
  position: absolute;
  bottom: 0px;
  right: 0;
  bottom: -10px;
  z-index: 11;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Price span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #AAAAAA;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Price .allfield {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Price .allfield .pricefield {
  display: flex;
  flex-direction: column;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Price .allfield .pricefield .inputdiv {
  width: 100%;
  height: 70px;
  border: 1px solid #34353a;
  display: flex;
  align-items: center;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Price .allfield .pricefield .inputdiv input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Price .allfield .pricefield label {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #AAAAAA;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Producttype {
  margin-top: 60px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Producttype h5 {
  color: #ffffff;
  text-align: left;
  cursor: -webkit-grab;
  cursor: grab;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-bottom: 40px;
  position: relative;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Producttype h5::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #CCA471;
  position: absolute;
  bottom: 0px;
  right: 0;
  bottom: -10px;
  z-index: 11;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Producttype .type {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Producttype .type .TypeInput {
  position: relative;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Producttype .type .TypeInput input {
  position: absolute;
  z-index: 2;
  left: -20px;
  top: 10px;
  height: 70%;
  width: 70%;
  opacity: 0;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Producttype .type .TypeInput input:checked + label:after {
  opacity: 1;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Producttype .type .TypeInput label {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #AAAAAA;
  display: inline-block;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Producttype .type .TypeInput label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #CCA471;
  padding: 13px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 0px;
  border-radius: 50%;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Producttype .type .TypeInput label:after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 6px;
  left: 11px;
  width: 8px;
  height: 18px;
  border: solid #cca471;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  box-shadow: 1px 1px 0px #030d1d;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Producttype .type span {
  position: absolute;
  right: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #AAAAAA;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Brand {
  margin-top: 60px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Brand h5 {
  color: #ffffff;
  text-align: left;
  cursor: -webkit-grab;
  cursor: grab;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-bottom: 40px;
  position: relative;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Brand h5::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #CCA471;
  position: absolute;
  bottom: 0px;
  right: 0;
  bottom: -10px;
  z-index: 11;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Brand .brandd {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Brand .brandd .BrandInput {
  position: relative;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Brand .brandd .BrandInput input {
  position: absolute;
  z-index: 2;
  left: -20px;
  top: 10px;
  height: 70%;
  width: 70%;
  opacity: 0;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Brand .brandd .BrandInput input:checked + label:after {
  opacity: 1;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Brand .brandd .BrandInput label {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #AAAAAA;
  display: inline-block;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Brand .brandd .BrandInput label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #CCA471;
  padding: 13px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 0px;
  border-radius: 50%;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Brand .brandd .BrandInput label:after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 6px;
  left: 11px;
  width: 8px;
  height: 18px;
  border: solid #cca471;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  box-shadow: 1px 1px 0px #030d1d;
}
#AllShop .container-fluid .row .col-lg-3 .FilterShop .Brand .brandd span {
  position: absolute;
  right: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #AAAAAA;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts {
  padding: 40px 0;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightContent {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #34353a;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightContent .grids {
  display: flex;
  gap: 0px;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightContent .grids i {
  color: white;
  font-size: 20px;
  border: 1px solid #34353a;
  padding: 10px;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightContent .featured select {
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 20px;
  background-color: #343535;
  line-height: 30px;
  padding: 10px 20px;
  border: none;
  outline: none;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 {
  margin-top: 60px;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single {
  width: 90%;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single:hover .pro-content h4 a {
  color: #CCA471;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-img {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-img:hover .Smallside {
  opacity: 1;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-img:hover .overlay {
  height: 100% !important;
  background-color: #505155;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-img .Smallside {
  display: flex;
  flex-direction: column !important;
  position: absolute;
  gap: 10px;
  right: 10px;
  top: 20%;
  opacity: 0;
  transition: 0.5s;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-img .Smallside a i {
  color: white;
  font-size: 20px;
  background-color: #343535;
  padding: 15PX;
  transition: 0.5s;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-img .Smallside a i:hover {
  background-color: #CCA471;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-img .sale span {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background-color: #343435;
  padding: 5px 10px;
  position: absolute;
  left: 10px;
  top: 10px;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-img .save span {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background-color: #343435;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-img a .overlay {
  position: absolute;
  background-color: #34353a;
  z-index: -1;
  height: 68%;
  width: 100%;
  transition: 0.5s;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-img a img {
  width: 100%;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-content {
  text-align: center;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-content h4 a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 25px;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-content .pricee {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-content .pricee .prc {
  color: #AAAAAA;
  font-size: 28px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-content .pricee .oldprc {
  color: #AAAAAA;
  text-decoration: line-through;
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-content .range {
  margin: 10px 0;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-content .range i {
  color: #fcc43e;
  font-size: 18px;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-content .title {
  font-size: 20px;
  color: #AAAAAA;
  font-family: "Source Sans Pro", sans-serif;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-content button {
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  background-color: #343435;
  padding: 20px 50px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-content button:hover::before {
  height: 100%;
}
#AllShop .container-fluid .row .col-lg-9 .ShopProducts .rightboxes .row .col-lg-3 .product-single .pro-content button::before {
  content: "";
  width: 100%;
  height: 4px;
  background: #CCA471;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
  transition: 0.5s;
}

#Footer {
  background-image: url(/assets/Images/footer-img_052c2e02-57e9-473b-a7a4-2668c5104fbd.jpg);
  background-position: center;
  background-size: cover;
  padding: 100px;
  position: relative;
  z-index: 1;
}
#Footer::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
}
#Footer .container .row .singleFooterArea {
  text-align: left;
}
#Footer .container .row .singleFooterArea h5 {
  font-size: 28px;
  font-family: "Playfair Display", serif;
  color: #fff;
  margin-bottom: 30px;
}
#Footer .container .row .singleFooterArea ul {
  padding: 0;
}
#Footer .container .row .singleFooterArea ul li {
  line-height: 45px;
  list-style: none;
  text-decoration: none;
  font-size: 23px;
  color: #AAAAAA;
  font-family: "Source Sans Pro", sans-serif;
}
#Footer .container .row .singleFooterArea ul li i {
  margin-right: 10px;
}
#Footer .container .row .singleFooterArea ul li a {
  text-decoration: none;
  font-size: 23px;
  color: #AAAAAA;
  font-family: "Source Sans Pro", sans-serif;
}/*# sourceMappingURL=shop.css.map */