#Experience {
    background-color: #030D1D;
    text-align: center;
    padding: 60px 0;
  }
  #Experience .container .experience-all h2 {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 60px;
  }
  #Experience .container .experience-all h2::before {
    content: "";
    width: 110%;
    height: 5px;
    background: #CCA471;
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    z-index: 11;
  }
  #Experience .container .experience-all .experienceSlider {
    display: flex;
    align-items: center;
  }
  #Experience .container .experience-all .experienceSlider .single-ex {
    transition: 0.5s;
  }
  #Experience .container .experience-all .experienceSlider .single-ex:hover {
    background-color: #0e1d55;
    cursor: pointer;
  }
  #Experience .container .experience-all .experienceSlider .single-ex:hover img {
    filter: invert(1);
  }
  #Experience .container .experience-all .experienceSlider .single-ex img {
    width: 100%;
    padding: 20px;
    transition: 0.5s;
  }
  @media (max-width: 992px) {
    #Experience .container .experience-all h2{
      font-size: 35px;
    }
    /* #Experience .container .experience-all .experienceSlider {
     display: flex;
     flex-direction: column;
    }
    #Experience .container .experience-all .experienceSlider .single-ex {
      width: 50%;
    } */
  }
  