#Slider {
  width: 100%;
}
#Slider .sliderBody {
  height: 100vh;
}
#Slider .sliderBody .slick-list {
  height: 100%;
}
#Slider .sliderBody .slick-list .slick-track {
  height: 100%;
}
#Slider .sliderBody .slick-list .slick-track .slick-1 {
  /* background-image: url(/assets/Images/slider__1.webp); */
  background-size: cover;
  background-position: center;
  display: flex;
  /* justify-content: center; */
}
/* #Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body img{
position: relative;
} */
#Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body {
  position: relative;
}
#Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .Bodyy{
position: absolute;
display: inline-block;
}
#Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body h2 {
  color: #ffffff;
  text-align: left;
  cursor: -webkit-grab;
  cursor: grab;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  display: inline-block;
  position: relative;
}
#Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body h2::before {
  content: "";
  width: 120%;
  height: 5px;
  background: #CCA471;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  z-index: 11;
}

#Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body p {
  color: #CCA471;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
}
#Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .info {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #AAAAAA;
  width: 60%;
  line-height: 40px;
  display: inline-block;
  margin-bottom: 30px;
}
#Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .offer-price {
  margin-bottom: 50px;
}
#Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .offer-price .price {
  color: #CCA471;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 62px;
}
#Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .explore a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  background-color: #343435;
  padding: 20px 40px;
  position: relative;
  z-index: 2;
}
#Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .explore a::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #CCA471;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
  transition: 0.4s;
}
#Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .explore a:hover::before {
  height: 100%;
}
