#Products {
    background-color: #010209;
    padding: 80px 0;
  }
  #Products .container .product-heading {
    text-align: center;
  }
  #Products .container .product-heading h2 {
    font-family: "Playfair Display", serif;
    font-size: 42px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }
  #Products .container .product-heading h2::before {
    content: "";
    width: 110%;
    height: 5px;
    background: #CCA471;
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    z-index: 11;
  }
  @-webkit-keyframes underlines {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes underlines {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  #Products .tabmenu .tab {
    overflow: hidden;
    justify-content: center;
    display: flex;
    gap: 30px;
  }
  .tablinks {
    display: inline-block;
    position: relative;
    padding: 30px 0;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: #AAAAAA;
    background: transparent;
    border: none;
    transition: 0.3s;
  }
 .tablinks::after {
    content: "";
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    -webkit-animation: underlines 2s infinite;
            animation: underlines 2s infinite;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }
  .tablinks:focus {
    color: #CCA471;
  }
.tablinks:focus::after {
    width: 100%;
    background: #CCA471;
  }
  #Products .container-fluid .tabmenu .tabcontent {
    display: none;
  }
  #Products .container-fluid .tabmenu .tabcontent .row {
    margin: 0 3.5%;
  }
  #Products  .product-single {
    width: 90%;
  }
  #Products  .product-single:hover .pro-content h4 a {
    color: #CCA471;
  }
  #Products  .product-single .pro-img {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }

  #Products .product-single .pro-img:hover .Smallside {
    opacity: 1;
  }
  #Products  .product-single .pro-img:hover .overlay {
    height: 100% !important;
    background-color: #505155;
  }
  #Products  .product-single .pro-img .Smallside {
    display: flex;
    flex-direction: column !important;
    position: absolute;
    gap: 10px;
    right: 10px;
    top: 20%;
    opacity: 0;
    transition: 0.5s;
  }
  #Products  .product-single .pro-img .Smallside button{
    color: white;
    font-size: 12px;
    background-color: #343535;
    padding: 15PX;
    transition: 0.5s;
    outline: none;
    border: none;
    transition: 0.5s;
  }
  #Products  .product-single .pro-img .Smallside button:hover{
    background-color: #CCA471;
  }
  #Products  .product-single .pro-img .Smallside a i {
    color: white;
    font-size: 12px;
    background-color: #343535;
    padding: 15PX;
    transition: 0.5s;
  }
  #Products .product-single .pro-img .Smallside a i:hover {
    background-color: #CCA471;
  }
  #Products  .product-single .pro-img .sale span {
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    background-color: #343435;
    padding: 5px 10px;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  #Products  .product-single .pro-img .save span {
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    background-color: #343435;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  #Products  .product-single .pro-img a .overlay {
    position: absolute;
    background-color: #34353a;
    z-index: -1;
    height: 68%;
    width: 100%;
    transition: 0.5s;
  }
  #Products  .product-single .pro-img a img {
    width: 100%;
  }
  #Products .product-single .pro-content {
    text-align: center;
  }
  #Products  .pro-content h4 a {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color: #fff;
    font-size: 18px;
  }
  #Products .product-single .pro-content .pricee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #Products  .product-single .pro-content .pricee .prc {
    color: #AAAAAA;
    font-size: 20px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
  }
  #Products  .product-single .pro-content .pricee .oldprc {
    color: #AAAAAA;
    text-decoration: line-through;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
  }
  #Products  .product-single .pro-content .range {
    margin: 10px 0;
  }
  #Products .pro-content .range i {
    color: #fcc43e;
    font-size: 18px;
  }
  #Products  .product-single .pro-content .title {
    font-size: 20px;
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
  }
  #Products .product-single .pro-content button {
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    background-color: #343435;
    padding: 20px 50px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
  }
  #Products  .product-single .pro-content button:hover::before {
    height: 100%;
  }
  #Products  .product-single .pro-content button::before {
    content: "";
    width: 100%;
    height: 2px;
    background: #CCA471;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
    transition: 0.5s;
  }
 