
  
  #Header {
    background-color: #0e1d55;
    padding: 20px;
  }
  #Header .container-fluid .row {
    align-items: center;
  }
  #Header .container-fluid .row nav {
    display: flex;
    justify-content: space-between;
  }
  form.example{
    position: relative;
  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 0px;
    float: left;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    background: #f1f1f1;
  }
  .SearchBody{
    position: absolute;
    padding: 0;
    background-color: #0e1d55;
    z-index: 333;
    
  }
  .Search{
    margin-left: 10px;
  }
  .SearchBody .list-group-item{
list-style: none;
}
.SearchBody .list-group-item a p{
font-size: 18px;
}

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
   outline: none;
    background: #1b348b;
    color: white;
    font-size: 17px;


    border: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;      
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  #Header .container-fluid .row nav a {
    text-decoration: none;
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px !important;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    margin-left:15px;
    font-weight: 600;
  }
  #Header .container-fluid .row .site-header {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
  }
  #Header .container-fluid .row .site-header a {
    text-decoration: none;
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    position: relative;
  }
  #Header .container-fluid .row .site-header a .basketNumber {
    position: absolute;
    top: -5px;
    right: -15px;
    background-color: #CCA471;
    padding: 3px 8px;
    border-radius: 100%;
    color: white;
    font-size: 12px;
  }
  