
  
  #Header {
    background-color: #0e1d55;
    padding: 20px;
  }
  #Header .container-fluid .row {
    display: flex;
    align-items: center;
  }
  #Header .logo{
    display: inline-block;
  }
  #Header .container-fluid .row nav {
    display: flex;
    gap: 20px;
  }
  form.example{
    position: relative;
  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 0px;
    float: left;
    width: 100%;
  border-radius: 5px;
    position: relative;
    background: #f1f1f1;
  }
  .SearchBody{
    position: absolute;
    padding: 0;
    background-color: #0e1d55;
    z-index: 333;
    
  }
  .Search{
    width: 70%;
    margin-left: 10px;
    position: absolute;
    top: 100%;
    z-index: 11111;
  }
  .SearchBody .list-group-item{
list-style: none;
}
.SearchBody .list-group-item a p{
font-size: 18px;
}

  form.example button {
    float: left;
    width: 20%;
    padding: 9px;
   outline: none;
   border-top-right-radius:5px !important;
   border-bottom-right-radius:5px !important;
    color: black !important;
    font-size: 18px !important;


    border: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;      
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  #Header .container-fluid .row nav a {
    text-decoration: none;
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px !important;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    margin-left:15px;
    font-weight: 600;
  }
  #Header .container-fluid .row .site-header {
    display: flex;
    justify-content: end;
    position: relative;
    align-items: center;
    gap: 20px;
  }
  #Header .container-fluid .row .site-header button{
    text-decoration: none;
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: transparent;
  }
  #Header .container-fluid .row .site-header a {
    text-decoration: none;
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    position: relative;
  }
  #Header .container-fluid .row .site-header .responsive{
    display: none;

  }
  #Header .container-fluid .row .site-header a .basketNumber {
    position: absolute;
    top: -5px;
    right: -15px;
    background-color: #CCA471;
    padding: 3px 8px;
    border-radius: 100%;
    color: white;
    font-size: 12px;
  }
  @media (max-width: 992px) {
    #Header .container-fluid .row nav {
      display: none !important;
    }
    #Header .container-fluid .row .site-header .responsive{
      display: block;
    }
    #Header .container-fluid .row{
      display: flex;
      align-items: center;
    }
  
  }