
  
  #Header {
    background-color: #0e1d55;
    padding: 20px;
  }
  #Header .container-fluid .row {
    align-items: center;
  }
  #Header .container-fluid .row nav {
    display: flex;
    justify-content: space-between;
  }
  #Header .container-fluid .row nav a {
    text-decoration: none;
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    margin-left:15px;
  }
  #Header .container-fluid .row .site-header {
    display: flex;
    justify-content: end;
    gap: 20px;
  }
  #Header .container-fluid .row .site-header a {
    text-decoration: none;
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
  }
  
  #Slider {
    width: 100%;
  }
  #Slider .sliderBody {
    height: 100vh;
  }
  #Slider .sliderBody .slick-list {
    height: 100%;
  }
  #Slider .sliderBody .slick-list .slick-track {
    height: 100%;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-1 {
    /* background-image: url(/assets/Images/slider__1.webp); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body {
    width: 60%;
    margin-top: 10%;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body h2 {
    color: #ffffff;
    text-align: left;
    cursor: -webkit-grab;
    cursor: grab;
    font-family: "Playfair Display", serif;
    font-size: 70px;
    display: inline-block;
    position: relative;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body h2::before {
    content: "";
    width: 120%;
    height: 5px;
    background: #CCA471;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    z-index: 11;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body p {
    color: #CCA471;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .info {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    color: #AAAAAA;
    width: 60%;
    line-height: 40px;
    display: inline-block;
    margin-bottom: 30px;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .offer-price {
    margin-bottom: 50px;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .offer-price .price {
    color: #CCA471;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 62px;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .explore a {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    background-color: #343435;
    padding: 20px 40px;
    position: relative;
    z-index: 2;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .explore a::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #CCA471;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
    transition: 0.4s;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-1 .slick-1-body .explore a:hover::before {
    height: 100%;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 {
    /* background-image: url(/assets/Images/slider__3_2000x_1.webp); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 .slick-2-body {
    width: 50%;
    margin-top: 10%;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 .slick-2-body h2 {
    color: #ffffff;
    text-align: left;
    cursor: -webkit-grab;
    cursor: grab;
    font-family: "Playfair Display", serif;
    font-size: 70px;
    display: inline-block;
    position: relative;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 .slick-2-body h2::before {
    content: "";
    width: 120%;
    height: 5px;
    background: #CCA471;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    z-index: 11;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 .slick-2-body p {
    color: #CCA471;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 .slick-2-body .info {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    color: #AAAAAA;
    width: 60%;
    line-height: 40px;
    display: inline-block;
    margin-bottom: 30px;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 .slick-2-body .offer-price {
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 .slick-2-body .offer-price .old-price {
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 32px;
    text-decoration: line-through;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 .slick-2-body .offer-price .price {
    color: #CCA471;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 62px;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 .slick-2-body .explore a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    background-color: #343435;
    padding: 20px 40px;
    position: relative;
    z-index: 2;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 .slick-2-body .explore a::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: rgb(218, 174, 116);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
    transition: 0.4s;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-2 .slick-2-body .explore a:hover::before {
    height: 100%;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-3 {
    /* background-image: url(/assets/Images/slider__2.webp); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-3 .slick-3-body {
    width: 60%;
    text-align: center;
    margin-top: 10%;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-3 .slick-3-body h2 {
    color: #ffffff;
    text-align: center;
    cursor: -webkit-grab;
    cursor: grab;
    font-family: "Playfair Display", serif;
    font-size: 70px;
    display: inline-block;
    position: relative;
    padding-left: 10px;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-3 .slick-3-body h2::before {
    content: "";
    width: 120%;
    height: 5px;
    background: #CCA471;
    position: absolute;
    bottom: 10px;
    left: -15px;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-3 .slick-3-body p {
    color: #CCA471;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 62px;
    margin-bottom: 30px;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-3 .slick-3-body .info {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    color: #AAAAAA;
    width: 60%;
    line-height: 40px;
    display: inline-block;
    margin-bottom: 30px;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-3 .slick-3-body .explore a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    background-color: #343435;
    padding: 20px 40px;
    position: relative;
    z-index: 2;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-3 .slick-3-body .explore a::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: rgb(218, 174, 116);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
    transition: 0.4s;
  }
  #Slider .sliderBody .slick-list .slick-track .slick-3 .slick-3-body .explore a:hover::before {
    height: 100%;
  }
  
  #Banner {
    background-color: #010209;
    padding: 80px 0;
  }
  #Banner .container-fluid .row {
    margin: 0 3.5%;
  }
  #Banner .container-fluid .row .men {
    /* background-image: url(/assets/Images/Untitled-1.webp); */
    background-size: cover;
    background-position: center;
    text-align: end;
    padding: 60px 40px;
    border: 6px solid #34353a;
    position: relative !important;
    z-index: 1;
    cursor: pointer;
  }
  #Banner .container-fluid .row .men:hover:before {
    opacity: 0.7;
  }
  #Banner .container-fluid .row .men:before {
    content: "";
    background-color: #091338;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
    opacity: 0;
  }
  #Banner .container-fluid .row .men h6 {
    font-style: italic;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    color: #CCA471;
  }
  #Banner .container-fluid .row .men a {
    text-decoration: none;
    font-size: 36px;
    font-family: "Playfair Display", serif;
    color: white;
    display: inline-block;
    margin-bottom: 20px;
  }
  #Banner .container-fluid .row .men p {
    font-size: 24px;
    font-family: "Source Sans Pro", sans-serif;
    color: #AAAAAA;
  }
  #Banner .container-fluid .row .women {
    /* background-image: url(/assets/Images/promo2_c5444c07-50e6-4452-90ed-99ca49a106fc.webp); */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 60px 40px;
    border: 6px solid #34353a;
    z-index: 1;
    position: relative;
    cursor: pointer;
  }
  #Banner .container-fluid .row .women:hover:before {
    opacity: 0.7;
  }
  #Banner .container-fluid .row .women:before {
    content: "";
    background-color: #091338;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
    opacity: 0;
  }
  #Banner .container-fluid .row .women h6 {
    font-style: italic;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    color: #CCA471;
  }
  #Banner .container-fluid .row .women a {
    text-decoration: none;
    font-size: 36px;
    font-family: "Playfair Display", serif;
    color: white;
    display: inline-block;
    margin-bottom: 20px;
  }
  #Banner .container-fluid .row .women p {
    font-size: 24px;
    font-family: "Source Sans Pro", sans-serif;
    color: #AAAAAA;
  }
  #Banner .container-fluid .row .couple {
    /* background-image: url(/assets/Images/promo3_e10c824c-b077-4e67-be09-c11067066cf5.webp); */
    background-size: cover;
    background-position: center;
    text-align: end;
    padding: 60px 40px;
    border: 6px solid #34353a;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  #Banner .container-fluid .row .couple:hover::before {
    opacity: 0.7;
  }
  #Banner .container-fluid .row .couple::before {
    content: "";
    background-color: #091338;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
    opacity: 0;
  }
  #Banner .container-fluid .row .couple h6 {
    font-style: italic;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    color: #CCA471;
  }
  #Banner .container-fluid .row .couple a {
    text-decoration: none;
    font-size: 36px;
    font-family: "Playfair Display", serif;
    color: white;
    display: inline-block;
    margin-bottom: 20px;
  }
  #Banner .container-fluid .row .couple p {
    font-size: 24px;
    font-family: "Source Sans Pro", sans-serif;
    color: #AAAAAA;
  }
  
  #Products {
    background-color: #010209;
    padding: 80px 0;
  }
  #Products .container .product-heading {
    text-align: center;
  }
  #Products .container .product-heading h2 {
    font-family: "Playfair Display", serif;
    font-size: 42px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }
  #Products .container .product-heading h2::before {
    content: "";
    width: 110%;
    height: 5px;
    background: #CCA471;
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    z-index: 11;
  }
  @-webkit-keyframes underlines {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes underlines {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  #Products .container .tabmenu .tab {
    overflow: hidden;
    justify-content: center;
    display: flex;
    gap: 30px;
  }
  #Products .container .tabmenu .tab .tablinks {
    display: inline-block;
    position: relative;
    padding: 30px 0;
    font-size: 24px;
    font-family: "Source Sans Pro", sans-serif;
    color: #AAAAAA;
    background: transparent;
    border: none;
    transition: 0.3s;
  }
  #Products .container .tabmenu .tab .tablinks::after {
    content: "";
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    -webkit-animation: underlines 2s infinite;
            animation: underlines 2s infinite;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }
  #Products .container .tabmenu .tab .tablinks:focus {
    color: #CCA471;
  }
  #Products .container .tabmenu .tab .tablinks:focus::after {
    width: 100%;
    background: #CCA471;
  }
  #Products .container .tabmenu .tabcontent {
    display: none;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel {
    position: relative;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    z-index: -1;
    width: 110%;
    left: -60px;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-nav .owl-next {
    position: relative;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-nav .owl-next i {
    background-color: #343435;
    font-size: 20px;
    padding: 20px;
    color: #fff;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-nav .owl-next::before {
    content: "";
    width: 100%;
    height: 4px;
    background: #CCA471;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-nav .owl-prev {
    position: relative;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-nav .owl-prev i {
    background-color: #343435;
    font-size: 20px;
    padding: 20px;
    color: #fff;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-nav .owl-prev::before {
    content: "";
    width: 100%;
    height: 4px;
    background: #CCA471;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single {
    width: 90%;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single:hover .pro-content h4 a {
    color: #CCA471;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-img {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-img:hover .Smallside {
    opacity: 1;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-img:hover .overlay {
    height: 100% !important;
    background-color: #505155;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-img .Smallside {
    display: flex;
    flex-direction: column !important;
    position: absolute;
    gap: 10px;
    right: 10px;
    top: 20%;
    opacity: 0;
    transition: 0.5s;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-img .Smallside a i {
    color: white;
    font-size: 20px;
    background-color: #343535;
    padding: 15PX;
    transition: 0.5s;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-img .Smallside a i:hover {
    background-color: #CCA471;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-img .sale span {
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    background-color: #343435;
    padding: 5px 10px;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-img .save span {
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    background-color: #343435;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-img a .overlay {
    position: absolute;
    background-color: #34353a;
    z-index: -1;
    height: 68%;
    width: 100%;
    transition: 0.5s;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-img a img {
    width: 100%;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-content {
    text-align: center;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-content h4 a {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color: #fff;
    font-size: 25px;
    transition: 0.3s;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-content .pricee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-content .pricee .prc {
    color: #AAAAAA;
    font-size: 28px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-content .pricee .oldprc {
    color: #AAAAAA;
    text-decoration: line-through;
    font-size: 22px;
    font-family: "Source Sans Pro", sans-serif;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-content .range {
    margin: 10px 0;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-content .range i {
    color: #fcc43e;
    font-size: 18px;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-content .title {
    font-size: 20px;
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-content button {
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    background-color: #343435;
    padding: 20px 50px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-content button:hover::before {
    height: 100%;
  }
  #Products .container .tabmenu .tabcontent .owl-carousel .owl-item .product-single .pro-content button::before {
    content: "";
    width: 100%;
    height: 4px;
    background: #CCA471;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
    transition: 0.5s;
  }
  #Products .container .tabmenu .active-tab {
    display: block;
  }
  
  #Time {
    /* background-image: url(/assets/Images/Bg1full.webp); */
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
    background-attachment: fixed;
  }
  #Time .Bodytime h2 {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 42px;
    position: relative;
    display: inline-block;
    padding-left: 30px;
  }
  #Time .Bodytime h2::before {
    content: "";
    width: 110%;
    height: 5px;
    background: #CCA471;
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    z-index: 11;
  }
  #Time .Bodytime .timeclock #defaultCountdown {
    background-color: red;
    height: 65px;
    width: 540px;
    color: white;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-rtl {
    direction: rtl;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-holding span {
    color: #888;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-row {
    clear: both;
    width: 100%;
    padding: 0px 2px;
    text-align: center;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-show1 .countdown-section {
    width: 30%;
    display: inline-block;
    height: 10%;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-show2 .countdown-section {
    width: 10%;
    display: inline-block;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-show3 .countdown-section {
    width: 10%;
    display: inline-block;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-show4 .countdown-section {
    width: 10%;
    display: inline-block;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-show5 .countdown-section {
    width: 10%;
    display: inline-block;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-show6 .countdown-section {
    width: 10%;
    display: inline-block;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-show7 .countdown-section {
    width: 10%;
    display: inline-block;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-section {
    display: block;
    float: left;
    font-size: 75%;
    text-align: center;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-amount {
    font-size: 200%;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-period {
    display: block;
  }
  #Time .Bodytime .timeclock #defaultCountdown .countdown-descr {
    display: block;
    width: 100%;
  }
  
  #RomanNumeral {
    /* background-image: url(/assets/Images/Bg2.webp); */
    background-size: cover;
    background-position: center;
    padding: 120PX 0;
    position: relative;
  }
  #RomanNumeral::before {
    position: absolute;
    content: "";
    height: 5px;
    background: #CCA471;
    width: 50%;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  #RomanNumeral .RomanBody {
    display: inline-block;
    width: 45%;
    margin-left: 50px;
  }
  #RomanNumeral .RomanBody h4 {
    font-size: 25px;
    font-family: "Playfair Display", serif;
    color: white;
    margin-bottom: 20px;
  }
  #RomanNumeral p {
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: #AAAAAA;
    line-height: 40px;
    margin-bottom: 40px;
  }
  #RomanNumeral a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    background-color: #343435;
    padding: 20px 40px;
    position: relative;
    display: inline-block;
    z-index: 2;
  }
  #RomanNumeral a::before {
    content: "";
    width: 100%;
    height: 4px;
    background: #CCA471;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.5s;
    z-index: -10;
  }
  #RomanNumeral a:hover::before {
    height: 100%;
  }
  
  #Collection .AllCollection .container-fluid .row .single-collection {
    transition: 1s;
    padding: 180px 0;
    display: inline-block;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  #Collection .AllCollection .container-fluid .row .single-collection:hover {
    cursor: pointer;
  }
  #Collection .AllCollection .container-fluid .row .single-collection:hover::before {
    opacity: 0.8;
  }
  #Collection .AllCollection .container-fluid .row .single-collection:hover .text-body {
    opacity: 1;
  }
  #Collection .AllCollection .container-fluid .row .single-collection::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 111;
    opacity: 0;
    transition: 0.5s;
  }
  #Collection .AllCollection .container-fluid .row .single-collection .text-body {
    opacity: 0;
    position: absolute;
    transform: translateY(-50%);
    transition: 0.5s;
    text-align: center;
    z-index: 1111;
    width: 80%;
  }
  #Collection .AllCollection .container-fluid .row .single-collection .text-body h4 {
    font-family: "Playfair Display", serif;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
  }
  #Collection .AllCollection .container-fluid .row .single-collection .text-body p {
    line-height: 35px;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: #AAAAAA;
  }
  #Collection .AllCollection .container-fluid .row .single-collection .text-body a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    background-color: #343435;
    padding: 20px 40px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    z-index: 1;
  }
  #Collection .AllCollection .container-fluid .row .single-collection .text-body a:hover::before {
    height: 100%;
  }
  #Collection .AllCollection .container-fluid .row .single-collection .text-body a::before {
    content: "";
    width: 100%;
    height: 4px;
    background: #CCA471;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.5s;
    z-index: -10;
  }
  /* #Collection .AllCollection .container-fluid .row .single-collection:nth-child(1) {
    background-image: url(/assets/Images/banner_286c6b34-88cb-465a-a2e8-2a5faf8295df.webp);
  }
  #Collection .AllCollection .container-fluid .row .single-collection:nth-child(2) {
    background-image: url(/assets/Images/Gallery2.webp);
  }
  #Collection .AllCollection .container-fluid .row .single-collection:nth-child(3) {
    background-image: url(/assets/Images/Gallery3.webp);
  }
  #Collection .AllCollection .container-fluid .row .single-collection:nth-child(4) {
    background-image: url(/assets/Images/Gallery6.webp);
  }
  #Collection .AllCollection .container-fluid .row .single-collection:nth-child(5) {
    background-image: url(/assets/Images/Gallery5.webp);
  }
  #Collection .AllCollection .container-fluid .row .single-collection:nth-child(6) {
    background-image: url(/assets/Images/Gallery4.webp);
  } */
  
  #WordsSlider {
    background-color: #091338;
    padding: 100px 0;
  }
  #WordsSlider .container .word-all .word {
    text-align: center;
  }
  #WordsSlider .container .word-all .word p {
    display: inline-block;
    color: #AAAAAA;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    width: 64%;
  }
  #WordsSlider .container .word-all .word span {
    color: #fff;
    display: block;
    font-size: 20px;
    margin-top: 30px;
  }
  
  #ProductCategory {
    background-color: #000;
    padding: 80px 0;
  }
  #ProductCategory .container-fluid .productcategory-heading {
    text-align: center;
  }
  #ProductCategory .container-fluid .productcategory-heading h2 {
    font-family: "Playfair Display", serif;
    font-size: 42px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }
  #ProductCategory .container-fluid .productcategory-heading h2::before {
    content: "";
    width: 110%;
    height: 5px;
    background: #CCA471;
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    z-index: 11;
  }
  @keyframes underlines {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  #ProductCategory .container-fluid .tabMenuProduct .TabProduct {
    overflow: hidden;
    justify-content: center;
    display: flex;
    gap: 30px;
  }
  #ProductCategory .container-fluid .tabMenuProduct .TabProduct .tabLinksProduct {
    display: inline-block;
    position: relative;
    padding: 30px 0;
    font-size: 24px;
    font-family: "Source Sans Pro", sans-serif;
    color: #AAAAAA;
    background: transparent;
    border: none;
    transition: 0.3s;
  }
  #ProductCategory .container-fluid .tabMenuProduct .TabProduct .tabLinksProduct::after {
    content: "";
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    -webkit-animation: underlines 2s infinite;
            animation: underlines 2s infinite;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }
  #ProductCategory .container-fluid .tabMenuProduct .TabProduct .tabLinksProduct:focus {
    color: #CCA471;
  }
  #ProductCategory .container-fluid .tabMenuProduct .TabProduct .tabLinksProduct:focus::after {
    width: 100%;
    background: #CCA471;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct {
    display: none;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row {
    margin: 0 3.5%;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single:hover .proCate-content a {
    color: #CCA471;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-img {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-img:hover a .overlay {
    height: 100% !important;
    background-color: #505155;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-img a .overlay {
    position: absolute;
    background-color: #34353a;
    z-index: -1;
    height: 68%;
    width: 100%;
    transition: 0.5s;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-img a img {
    width: 100%;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-content {
    text-align: center;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-content a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    transition: 0.3s;
    font-family: "Playfair Display", serif;
  }
  #ProductCategory .container-fluid .tabMenuProduct .active-tab {
    display: block;
  }
  
  #NewsLetter {
    background-color: #000;
    padding: 80px 0;
    text-align: center;
  }
  #NewsLetter h2 {
    font-family: "Playfair Display", serif;
    font-size: 55px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 60px;
  }
  #NewsLetter h2::before {
    content: "";
    width: 110%;
    height: 5px;
    background: #CCA471;
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    z-index: 11;
  }
  #NewsLetter .formNewsletter {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    width: 100%;
  }
  #NewsLetter .formNewsletter input {
    outline: none;
    background-color: transparent;
    border: 1px solid #343535;
    width: 25%;
    height: 60px;
    color: #AAAAAA;
    padding-left: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
  }
  #NewsLetter .formNewsletter input::-moz-placeholder {
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
  }
  #NewsLetter .formNewsletter input:-ms-input-placeholder {
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
  }
  #NewsLetter .formNewsletter input::placeholder {
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
  }
  #NewsLetter .formNewsletter input:focus {
    outline-color: #fff;
  }
  #NewsLetter .formNewsletter button {
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    background-color: #343435;
    padding: 10px 40px;
    position: relative;
    z-index: 2;
  }
  #NewsLetter .formNewsletter button:hover::before {
    height: 100%;
  }
  #NewsLetter .formNewsletter button::before {
    content: "";
    width: 100%;
    height: 4px;
    background: #CCA471;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.5s;
    z-index: -10;
  }
  #NewsLetter p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    color: #AAAAAA;
  }
  #NewsLetter .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30PX;
  }
  #NewsLetter .icons i {
    border: 1px solid #AAAAAA;
    padding: 10px;
    font-size: 20px;
    color: #AAAAAA;
    transition: 0.5s;
  }
  #NewsLetter .icons i:hover {
    background-color: #CCA471;
    color: white;
    cursor: pointer;
  }
  
  #Experience {
    background-color: #030D1D;
    text-align: center;
    padding: 60px 0;
  }
  #Experience .container .experience-all h2 {
    font-family: "Playfair Display", serif;
    font-size: 55px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 60px;
  }
  #Experience .container .experience-all h2::before {
    content: "";
    width: 110%;
    height: 5px;
    background: #CCA471;
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    z-index: 11;
  }
  #Experience .container .experience-all .experienceSlider {
    display: flex;
    align-items: center;
  }
  #Experience .container .experience-all .experienceSlider .single-ex {
    transition: 0.5s;
  }
  #Experience .container .experience-all .experienceSlider .single-ex:hover {
    background-color: #0e1d55;
    cursor: pointer;
  }
  #Experience .container .experience-all .experienceSlider .single-ex:hover img {
    filter: invert(1);
  }
  #Experience .container .experience-all .experienceSlider .single-ex img {
    width: 100%;
    padding: 20px;
    transition: 0.5s;
  }
  
  #Footer {
   /* // background-image: url(/assets/Images/footer-img_052c2e02-57e9-473b-a7a4-2668c5104fbd.jpg); */
    background-position: center;
    background-size: cover;
    padding: 100px;
    position: relative;
    z-index: 1;
  }
  #Footer::before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.7;
  }
  #Footer .container .row .singleFooterArea {
    text-align: left;
  }
  #Footer .container .row .singleFooterArea h5 {
    font-size: 28px;
    font-family: "Playfair Display", serif;
    color: #fff;
    margin-bottom: 30px;
  }
  #Footer .container .row .singleFooterArea ul {
    padding: 0;
  }
  #Footer .container .row .singleFooterArea ul li {
    line-height: 45px;
    list-style: none;
    text-decoration: none;
    font-size: 23px;
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
  }
  #Footer .container .row .singleFooterArea ul li i {
    margin-right: 10px;
  }
  #Footer .container .row .singleFooterArea ul li a {
    text-decoration: none;
    font-size: 23px;
    color: #AAAAAA;
    font-family: "Source Sans Pro", sans-serif;
  }/*# sourceMappingURL=style.css.map */