
  #ProductCategory {
    background-color: #000;
    padding: 80px 0;
  }
  #ProductCategory .container-fluid .productcategory-heading {
    text-align: center;
  }
  #ProductCategory .container-fluid .productcategory-heading h2 {
    font-family: "Playfair Display", serif;
    font-size: 42px;
    color: #fff;
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }
  #ProductCategory .container-fluid .productcategory-heading h2::before {
    content: "";
    width: 110%;
    height: 5px;
    background: #CCA471;
    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    z-index: 11;
  }
  @keyframes underlines {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  #ProductCategory .container-fluid .tabMenuProduct .TabProduct {
    overflow: hidden;
    justify-content: center;
    display: flex;
    gap: 30px;
  }
  #ProductCategory .container-fluid .tabMenuProduct .TabProduct .tabLinksProduct {
    display: inline-block;
    position: relative;
    padding: 30px 0;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: #AAAAAA;
    background: transparent;
    border: none;
    transition: 0.3s;
  }
  #ProductCategory .container-fluid .tabMenuProduct .TabProduct .tabLinksProduct::after {
    content: "";
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    -webkit-animation: underlines 2s infinite;
            animation: underlines 2s infinite;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }
  #ProductCategory .container-fluid .tabMenuProduct .TabProduct .tabLinksProduct:focus {
    color: #CCA471;
  }
  #ProductCategory .container-fluid .tabMenuProduct .TabProduct .tabLinksProduct:focus::after {
    width: 100%;
    background: #CCA471;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct {
    display: none;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row {
    margin: 0 3.5%;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single:hover .proCate-content a {
    color: #CCA471;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-img {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-img:hover a .overlay {
    height: 100% !important;
    background-color: #505155;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-img a .overlay {
    position: absolute;
    background-color: #34353a;
    z-index: -1;
    height: 68%;
    width: 100%;
    transition: 0.5s;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-img a img {
    width: 100%;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-content {
    text-align: center;
  }
  #ProductCategory .container-fluid .tabMenuProduct .tabContentProduct .row .col-lg .productCategory-single .proCate-content a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    transition: 0.3s;
    font-family: "Playfair Display", serif;
  }
  #ProductCategory .container-fluid .tabMenuProduct .active-tab {
    display: block;
  }