#ContactInfo {
  background-color: #030d1d;
  padding: 80px 0;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo {
  border: 1px solid #212a38;
  padding: 50px 30px;
  text-align: center;
  transition: 0.3s;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo:hover {
  border-color: #CCA471;
  cursor: pointer;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo:hover h4 {
  color: #CCA471;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo .icon {
  margin-bottom: 30px;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo .icon i {
  background: #0e1d55;
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo h4 {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  color: #fff;
  margin-bottom: 30px;
  transition: 0.3s;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo .MainInfo p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 23px;
  color: #AAAAAA;
  line-height: 40px;
  transition: 0.3s;
}
#ContactInfo .container .row .col-lg-4 .SingleContactInfo .MainInfo p:hover {
  color: #CCA471;
}
