#Register {
  background-color: #030d1d;
  padding: 80px 0;
  text-align: center;
}
#Register .container form {
  width: 60%;
  margin: auto;
}
#Register .container form input {
  border: 1px solid #212a38;
  outline: none;
  background-color: transparent;
  padding: 20px 30px;
  width: 100%;
  font-size: 20px;
  color: #AAAAAA;
  margin-bottom: 30px;
}
#Register .container form .Sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Register .container form .Sign button {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  background-color: #343435;
  padding: 20px;
  outline: none;
  border: none;
  position: relative;
  width: 30%;
  margin-bottom: 30px;
  z-index: 2;

}
#Register .container form .Sign button:hover::before{
  height: 100%;
}
#Register .container form .Sign button::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #CCA471;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
  transition: 0.5s;
}
#Register .container form .Sign a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  background-color: #343435;
  padding: 20px;
  outline: none;
  border: none;
  position: relative;
  width: 30%;
  margin-bottom: 30px;
  z-index: 2;
 
}
#Register .container form .Sign a::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #CCA471;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
  transition: 0.5s;

}
#Register .container form .Sign a:hover::before{
  height: 100%;
} 
@media (max-width: 992px) {
  #Register .container form .Sign a {
    font-size: 10px;
  }
  #Register .container form .Sign button{
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  
  #Login .container form .Sign button{
    font-size: 10px;
  }
}