#Collection .AllCollection .container-fluid .row .single-collection {
  transition: 1s;
  padding: 150px 0;
  display: inline-block;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  position: relative;
}
#Collection .AllCollection .container-fluid .row .single-collection:hover {
  cursor: pointer;
}
#Collection .AllCollection .container-fluid .row .single-collection:hover::before {
  opacity: 0.8;
}
#Collection .AllCollection .container-fluid .row .single-collection:hover .text-body {
  opacity: 1;
}
#Collection .AllCollection .container-fluid .row .single-collection::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  opacity: 0;
  transition: 0.5s;
}
#Collection .AllCollection .container-fluid .row .single-collection .text-body {
  opacity: 0;
  position: absolute;
  transform: translateY(-50%);
  transition: 0.5s;
  text-align: center;
  z-index: 1111;
  width: 80%;
}
#Collection .AllCollection .container-fluid .row .single-collection .text-body h4 {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}
#Collection .AllCollection .container-fluid .row .single-collection .text-body p {
  line-height: 30px;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  color: #AAAAAA;
}
#Collection .AllCollection .container-fluid .row .single-collection .text-body a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  background-color: #343435;
  padding: 15px 30px;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  z-index: 1;
}
#Collection .AllCollection .container-fluid .row .single-collection .text-body a:hover::before {
  height: 100%;
}
#Collection .AllCollection .container-fluid .row .single-collection .text-body a::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #CCA471;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.5s;
  z-index: -10;
}